extends layout

block content
  header.bg-white.shadow
        .mx-auto.max-w-7xl.px-4.py-6(class='sm:px-6 lg:px-8')
          h1.text-3xl.font-bold.tracking-tight.text-gray-900 Nueva postulación
          .mx-auto.max-w-7xl.px-4.py-24(class='sm:px-6 sm:py-12 lg:px-8')
            if role != undefined && role == 'applicant'
                - route = '/jobs/apply/'+job.code 
                - method = 'POST'
            else if job === undefined && role != undefined && role == 'admin'
                - route = '/jobs/new'  
                - method = 'POST'
            else if job != undefined && role != undefined && role == 'admin'
                - route = '/jobs/edit/'+job.code 
                - method = 'POST'    
            form(action=route method=method) 
                .space-y-12
                    .border-b.pb-12(class='border-gray-900/10')
                        p.mt-1.text-sm.leading-6.text-gray-600 Provea la información para crear la nueva postulación.
                            .mt-10.grid.grid-cols-1.gap-x-6.gap-y-8(class='sm:grid-cols-6')
                                .mt-1(class='sm:col-span-3')
                                    label.block.text-sm.font-medium.leading-6.text-gray-900(for='title') Título
                                    .mt-2
                                        - title = job === undefined ? '': job.title
                                        input#title.block.w-full.rounded-md.border-0.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(type='text' name='title' autocomplete='title' class='py-1.5 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' value=title)
                                .col-span-full
                                    label.block.text-sm.font-medium.leading-6.text-gray-900(for='about') Descripción
                                    .mt-2
                                        - about = job === undefined ? '': job.about
                                        textarea#about.block.w-full.rounded-md.border-0.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(name='about' rows='3' class='py-1.5 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' ) #{about}
                                    p.mt-3.text-sm.leading-6.text-gray-600 Escribe en qué consiste la postulación.
                                .mt-1(class='sm:col-span-3')
                                    label.block.text-sm.font-medium.leading-6.text-gray-900(for='title') Salario(Mensual)
                                    .mt-2
                                        - salary = job === undefined ? '': job.salary
                                        input#salary.block.w-full.rounded-md.border-0.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(type='number' name='salary' autocomplete='salary' class='py-1.5 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' value=salary)
                    .border-b.pb-12(class='border-gray-900/10')
                        h2.text-base.font-semibold.leading-7.text-gray-900 Rol y Habilidades
                        if job === undefined
                            p.mt-1.text-sm.leading-6.text-gray-600 Seleccione el rol para esta postulación.
                            .mt-10.grid.grid-cols-1.gap-x-6.gap-y-8(class='sm:grid-cols-6')
                                .mt-1(class='sm:col-span-3')
                                    label.block.text-sm.font-medium.leading-6.text-gray-900(for='role') Rol
                                    .mt-2
                                        select#role.block.w-full.rounded-md.border-0.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(name='role' autocomplete='role-name' class='py-1.5 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6')
                                            for role in roles
                                                option #{role.name}
                        else 
                            label.block.text-sm.font-medium.leading-6.text-gray-900(for='title') #{job.role}        
                                       
                .m-6.flex.items-center.justify-end.gap-x-6
                    button.text-sm.font-semibold.leading-6.text-gray-900(onclick='history.back()') Volver
                    if job === undefined || role == 'admin'
                        button.rounded-md.bg-indigo-600.px-3.py-2.text-sm.font-semibold.text-white.shadow-sm(type='submit' class='hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Guardar
                    else 
                        button.rounded-md.bg-indigo-600.px-3.py-2.text-sm.font-semibold.text-white.shadow-sm(type='submit' class='hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600') Postular
